
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  --background: #E8E5DA;
  --foreground: #304C89;
  --topbar: #CDC392
}

@media (prefers-color-scheme: dark) {
  :root {

    --text: #2E282A;
    --text-hover: #0B090A;
    --background: #FCF4ED; }
}
*{

  font-family: "inter", serif;
  font-weight: 400;
  font-style: normal;
}


body {
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  background-color: var(--background);
  max-width: 100vw;
  overflow-x: hidden;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



.navbar {


  background-color:var(--background-alt);
  max-height: 150px;
  padding: 1%;

}

.projects-list {
padding: 1%;



}
.logoimg{ 

  max-width: 100px;
}
.topbarlink {
  color: var(--text);
  padding: 2px;
  float: right;
font-size: 20px;
font-weight: 600;
text-decoration: none;

}
.topbarlink:hover {
text-decoration: underline;


}




footer {
  padding-right: 1%;
  font-weight: 600;
padding-top: 50px;
  text-align: right;

  img {
      padding: 5px;
      padding-top: 0px;
      max-height: 32px;

      margin-bottom: 0.1%;
      
  }
}

a {
text-decoration: none;
color: tan;
}


a:hover {
  transition: 0.5s;
  text-decoration: dashed;
  color: burlywood;
}

#title-text {
  
text-align: center;
font-weight: bolder;
  font-size: x-small;
  margin-bottom: -50px;
}

.projects-list {
  margin: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.project-item {
  transition: 0.3s;
padding: 5%;
border-radius: 15px;
  background-color: rgba(12, 12, 12, 0.1);
  text-align: center;
  text-align: right;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

}

.project-item:hover {
  background-color:var(--foreground);
  color: var(--background);
  transition: 0.3s;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 30px 60px -12px, rgba(0, 0, 0, 0.5) 0px 18px 36px -18px;

}
.project-title {
font-weight: 800;
}

.project-title:hover {
  color:coral;
}
.project-image {

  max-width: 500px;
}

